<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hideInternal</string>
			<key>label</key>
			<string>Hide iPhone Battery</string>
            <key>PostNotifications</key>
            <string>com.atar13.vaonprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hidePercentageLabel</string>
			<key>label</key>
			<string>Hide Battery Percent Label</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hidePercent</string>
			<key>label</key>
			<string>Hide Percent(%) Symbol</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>enableBoldPercentage</string>
			<key>label</key>
			<string>Enable Bold Percentage</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>roundOutlineCorners</string>
			<key>label</key>
			<string>Round Battery Indicator Corners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>pulsateChargingOutline</string>
			<key>label</key>
			<string>Pulsate Outline of Charging Devices</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enabling this option may result in duplicate devices.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>keepDisconnectedDevices</string>
			<key>label</key>
			<string>Display Disconnected Devices</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Battery Percentage Text Color Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>batteryTextColor</string>
			<key>default</key>
			<string>system</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>validTitles</key>
			<array>
				<string>System</string>
				<string>Dark</string>
				<string>Light</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<string>system</string>
				<string>dark</string>
				<string>light</string>
				<string>custom</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customBatteryTextColor</string>
			<key>default</key>
			<string>#ffffff</string>
			<key>label</key>
			<string>Custom Percentage Text Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.atar13.vaonprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Battery Glyph Background Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>batteryGlyphBackgroundMode</string>
			<key>default</key>
			<string>system</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>validTitles</key>
			<array>
				<string>System</string>
				<string>Dark</string>
				<string>Light</string>
			</array>
			<key>validValues</key>
			<array>
				<string>system</string>
				<string>dark</string>
				<string>light</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Colors</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>isController</key>
            <true/>
            <key>overridePrincipalClass</key>
            <true/>
            <key>label</key>
            <string>Color Configuration</string>
            <key>detail</key>
            <string>BatteryColorPreferenceController</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Sizing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customDeviceGlyphSizeEnabled</string>
			<key>label</key>
			<string>Enable Custom Device Glyph Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>30</integer>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customDeviceGlyphSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customBatteryCellSizeEnabled</string>
			<key>label</key>
			<string>Enable Custom Battery Cell Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>50</integer>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customBatteryCellSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customPercentageFontSizeEnabled</string>
			<key>label</key>
			<string>Enable Custom Percentage Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>12</integer>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>50</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customPercentageFontSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>paddingBetweenGlyphAndLabelEnabled</string>
			<key>label</key>
			<string>Enable padding between glyph and label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>min</key>
			<integer>-100</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>paddingBetweenGlyphAndLabel</string>
		</dict>
	</array>
	<key>title</key>
	<string>Battery</string>
</dict>
</plist>
