<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hideInternal</string>
			<key>label</key>
			<string>Hide iPhone Battery</string>
            <key>PostNotifications</key>
            <string>com.atar13.vaonprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hidePercent</string>
			<key>label</key>
			<string>Hide Percent(%) Symbol</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>roundOutlineCorners</string>
			<key>label</key>
			<string>Round Battery Indicator Corners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>pulsateChargingOutline</string>
			<key>label</key>
			<string>Pulsate Outline of Charging Devices *</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enabling this option may result in duplicate devices.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>keepDisconnectedDevices</string>
			<key>label</key>
			<string>Display Disconnected Devices</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Sizing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customBatteryCellSizeEnabled</string>
			<key>label</key>
			<string>Enable Custom Battery Cell Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>50</integer>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customBatteryCellSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customPercentageFontSizeEnabled</string>
			<key>label</key>
			<string>Enable Custom Percentage Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>12</integer>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>50</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customPercentageFontSize</string>
		</dict>
	</array>
	<key>title</key>
	<string>Battery</string>
</dict>
</plist>
