
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Connected Device Color Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>customConnectedDeviceColorMode</string>
			<key>default</key>
			<string>grid</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>System</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<string>default</string>
				<string>system</string>
				<string>custom</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customConnectedDeviceColor</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>label</key>
			<string>Custom Connected Device Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.atar13.vaonprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Disconnected Device Color Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>customDisconnectedDeviceColorMode</string>
			<key>default</key>
			<string>grid</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>System</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<string>default</string>
				<string>system</string>
				<string>custom</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customDisconnectedDeviceColor</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>label</key>
			<string>Custom Diconnected Device Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.atar13.vaonprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Low Power Color Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>customLowPowerColorMode</string>
			<key>default</key>
			<string>grid</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>System</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<string>default</string>
				<string>system</string>
				<string>custom</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customLowPowerColor</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>label</key>
			<string>Custom Low Power Mode Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.atar13.vaonprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>label</key>
            <string>Custom Low Battery Color Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>customLowBatteryColorMode</string>
			<key>default</key>
			<string>grid</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>System</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<string>default</string>
				<string>system</string>
				<string>custom</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customLowBatteryColor</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>label</key>
			<string>Custom Low Battery Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.atar13.vaonprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>label</key>
            <string>Custom Charging Color Mode</string>
			<key>footerText</key>
			<string>Pulsate charging devices must be enabled in battery configuration settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>customChargingColorMode</string>
			<key>default</key>
			<string>grid</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>System</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<string>default</string>
				<string>system</string>
				<string>custom</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customChargingColor</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>label</key>
			<string>Custom Charging Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.atar13.vaonprefs/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Battery Color Settings</string>
</dict>
</plist>
