<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>ImageCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>All changes require a respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Switcher Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Switcher Mode</string>
			<key>key</key>
			<string>switcherMode</string>
			<key>default</key>
			<string>grid</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>validTitles</key>
			<array>
				<string>Stock</string>
				<string>Grid</string>
			</array>
			<key>validValues</key>
			<array>
				<string>stock</string>
				<string>grid</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>More modules to be added in future updates</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Module</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>moduleSelection</string>
			<key>PostNotification</key>
			<string>com.atar13.vaonprefs/prefschanged</string>
			<key>validTitles</key>
			<array>
				<string>Battery</string>
				<string>None</string>
			</array>
			<key>validValues</key>
			<array>
				<string>battery</string>
				<string>none</string>
			</array>
			<key>default</key>
			<string>battery</string>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>isController</key>
            <true/>
            <key>overridePrincipalClass</key>
            <true/>
            <key>label</key>
            <string>Battery Configuration</string>
            <key>detail</key>
            <string>BatteryPreferencesController</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Additional Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hideBackground</string>
			<key>label</key>
			<string>Hide Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hideAppTitles</string>
			<key>label</key>
			<string>Hide Switcher App Titles</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hideAppIcons</string>
			<key>label</key>
			<string>Hide Switcher App Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>hideSuggestionBanner</string>
			<key>label</key>
			<string>Hide Suggested Apps/Handoff Banner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation Options</string>
			<key>footerText</key>
			<string>Fade in delay is known to have a few issues with the stock switcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>enableFlyInOut</string>
			<key>label</key>
			<string>Enable fly in/out animations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>enableDelay</string>
			<key>label</key>
			<string>Enable Fade In Delay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>3</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>fadeInDelay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Sizing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customHeightEnabled</string>
			<key>label</key>
			<string>Enable Custom Height Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>113</integer>
			<key>min</key>
			<integer>25</integer>
			<key>max</key>
			<integer>500</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customHeight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customWidthEnabled</string>
			<key>label</key>
			<string>Enable Custom Width Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>400</integer>
			<key>min</key>
			<integer>100</integer>
			<key>max</key>
			<integer>700</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customWidth</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customVerticalOffsetEnabled</string>
			<key>label</key>
			<string>Enable Custom Vertical Offset (from bottom)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>-80</integer>
			<key>min</key>
			<integer>-800</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customVerticalOffset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Grid Switcher Custom Sizing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customGridSwitcherAppSizeEnabled</string>
			<key>label</key>
			<string>Enable Custom App Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.25</real>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>0.7</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customGridSwitcherAppSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customGridSwitcherSpacingEnabled</string>
			<key>label</key>
			<string>Enable Custom Spacing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>40</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.vaonprefs</string>
			<key>key</key>
			<string>customGridSwitcherSpacing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
		</dict>
		<dict>
    		<key>big</key>
   			 <true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Anthony Tarbinian</string>
			<key>user</key>
			<string>atar137h</string>
			<key>userID</key>
			<string>964947766907568128</string>
			<key>showAvatar</key>
			<true/>
			<key>action</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>action</key>
			<string>reddit</string>
			<key>icon</key>
			<string>images/reddit/redditIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email</string>
			<key>action</key>
			<string>email</string>
			<key>icon</key>
			<string>images/email/emailIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>action</key>
			<string>github</string>
			<key>icon</key>
			<string>images/github/githubIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Report an Issue</string>
			<key>action</key>
			<string>report</string>
		</dict>
	</array>
	<key>title</key>
	<string>Vaon</string>
</dict>
</plist>
