Package: com.atar13.vaon
Name: Vaon
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: atar13
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, ws.hbang.common
Author: atar13
Section: Tweaks